<!DOCTYPE html>
<html lag="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meu App</title>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/Site.css" rel="stylesheet" />
    <script src="jquery/jquery-3.3.1.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <script src="js/Index.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar1" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/index.html" class="navbar-brand">
                    MeuWebApp
                </a>
            </div>
            <div id="navbar1" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">

        <app-root-2></app-root-2>

        <div>
            @*@foreach (var item in Model)
        {
            <div>@item.Nome</div>
        }

        <div class="row">
            <div class="col-xs-12">
                <div id="login">
                    Login
                </div>

                <form id="popup-form" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-xs-2">Usuario</label>
                        <div class="col-xs-4">
                            <input class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-2">Senha</label>
                        <div class="col-xs-4">
                            <input type="password" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" />
                                    Manter conectado
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-10">
                            <input type="submit" value="Entrar" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <!--<div class="container-fluid" style="border-color:red; border-width:1px;border-style:solid;">
                <div class="row">
                    <div class="col-xs-1" style="border-color:red; border-width:1px;border-style:solid;">
                        col6
                    </div>
                    <div class="col-xs-1" style="border-color:red; border-width:1px;border-style:solid;">
                        col6
                    </div>
                    <div class="col-xs-1" style="border-color:red; border-width:1px;border-style:solid;">
                        col6
                    </div>
                    <div class="col-xs-1" style="border-color:red; border-width:1px;border-style:solid;">
                        col6
                    </div>
                    <div class="col-xs-1" style="border-color:red; border-width:1px;border-style:solid;">
                        col6
                    </div>
                    <div class="col-xs-1" style="border-color:red; border-width:1px;border-style:solid;">
                        col6
                    </div>
                    <div class="col-xs-1" style="border-color:red; border-width:1px;border-style:solid;">
                        col6
                    </div>
                    <div class="col-xs-1" style="border-color:red; border-width:1px;border-style:solid;">
                        col6
                    </div>
                    <div class="col-xs-1" style="border-color:red; border-width:1px;border-style:solid;">
                        col6
                    </div>
                    <div class="col-xs-1" style="border-color:red; border-width:1px;border-style:solid;">
                        col6
                    </div>
                    <div class="col-xs-1" style="border-color:red; border-width:1px;border-style:solid;">
                        col6
                    </div>
                    <div class="col-xs-1" style="border-color:red; border-width:1px;border-style:solid;">
                        col6
                    </div>
                </div>
            </div>-->
            <!--<p>Este é o meu <strong>primeiro</strong> paragrafo</p>
            <a href="http://www.gmail.com">Clique aqui</a>
            <ul>
                <li>Um</li>
                <li>Dois</li>
                <li>Tres</li>
            </ul>-->
            <!--<div id="meu-form">
                <form>
                    <label>Seu Nome:</label>
                    <br />
                    <input />
                    <br />

                    <label>Email:</label>
                    <br />
                    <input type="email" />
                    <br />

                    <label>Assunto:</label>
                    <br />
                    <input type="text"></input>
                    <br />

                    <label>Mensagem:</label>
                    <br />
                    <textarea rows="4"></textarea>
                    <br />
                    <input type="submit" value="Enviar Mensagem" />
                </form>

            </div>-->

        </div>*@
        </div>
    </div>

    <script src="~/ClienteApp/dist/main.js"></script>
    <script src="~/ClienteApp/dist/polyfills.js"></script>
    <script src="~/ClienteApp/dist/runtime.js"></script>
    <script src="~/ClienteApp/dist/styles.js"></script>
    <script src="~/ClienteApp/dist/vendor.js"></script>
</body>
</html>




