

<app-root-2></app-root-2>


@*@foreach (var item in Model)
    {
        <div>@item.Nome</div>
    }*@




<script src="~/ClienteApp/dist/main.js"></script>
<script src="~/ClienteApp/dist/polyfills.js"></script>
<script src="~/ClienteApp/dist/runtime.js"></script>
<script src="~/ClienteApp/dist/styles.js"></script>
<script src="~/ClienteApp/dist/vendor.js"></script>